/*
 * Copyright (c) 2021 Nick Winans
 *
 * SPDX-License-Identifier: MIT
 */

#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/rgb.h>
#include <dt-bindings/zmk/bt.h>

/ {
	keymap {
		compatible = "zmk,keymap";
		
		default_layer {
//	M0487 Apple Standard Keyboard II
//	                    +-------+
//	                    | power |
//	                    +-------+
//	+---+---+---+---+---+---+---+---+---+---+---+---+---+-----+ +---+---+---+---+
//	| ` | 1 | 2 | 3 | 4 | 5 | 6 | 7 | 8 | 9 | 0 | - | = | bks | |clr| = | / | * |
//	+---------------------------------------------------------+ +---+---+---+---+
//	| tab | q | w | e | r | t | y | u | i | o | p | [ | ] | \ | | 7 | 8 | 9 | + |
//	+---------------------------------------------------------| +---+---+---+---+
//	| caps | a | s | d | f | g | h | j | k | l | ; | ' |return| | 4 | 5 | 6 | - |
//	+---------------------------------------------------------+ +---+---+---+---+
//	| shift  | z | x | c | v | b | n | m | , | . | / |  shift | | 1 | 2 | 3 |   |
//	+---------------------------------------------------------+ +-------+---|ent|
//	|ctrl|opt|comnd |                   | esc |lef|rig|dwn|up | |   0   | . |   |
//	+---------------------------------------------------------+ +-------+---+---+
//	
			bindings = <
	&gresc  &kp N1 &kp N2 &kp N3 &kp N4 &kp N5 &kp N6 &kp N7 &kp N8 &kp N9 &kp N0 &kp MINUS &kp EQUAL  &kp BSPC		&kp KP_CLEAR &kp KP_EQUAL &kp KP_DIVIDE &kp KP_MULTIPLY
	&kp TAB  &kp Q  &kp W  &kp E  &kp R  &kp T  &kp Y  &kp U  &kp I  &kp O  &kp P  &kp LBKT  &kp RBKT  &kp BSLH		&kp KP_N7 &kp KP_N8 &kp KP_N9 &kp KP_MINUS
	&kp CLCK  &kp A  &kp S  &kp D  &kp F  &kp G  &kp H  &kp J  &kp K  &kp L  &kp SEMI &kp SQT           &kp RET		&kp KP_N4 &kp KP_N5 &kp KP_N6 &kp KP_PLUS
	&kp LSHFT   &kp Z  &kp X  &kp C  &kp V  &kp B  &kp N  &kp M  &kp COMMA &kp DOT &kp FSLH           &kp LSHFT		&kp KP_N1 &kp KP_N2 &kp KP_N3 
	&kp LCTRL &kp LALT &kp LGUI             &kp SPACE              &kp ESC  &kp LEFT &kp RIGHT &kp DOWN  &kp UP     &kp KP_N0		&kp KP_DOT &kp KP_ENTER
			>;
		};


	};
};


