if SHIELD_AK3
	config ZMK_KEYBOARD_NAME
		default "ak3"

	if CONFIG_ENGRAMMER_BASE
		CONFIG ENGRAMMER_BASE
			int "Engramer"
			default 1
	endif

	if CONFIG_ENGRAMMER_SHIFTED
		CONFIG ENGRAMMER_SHIFTED
			int "Engrammer shifted"
			default 1
	endif

endif
